# Node dependencies
node_modules/

# Build and cache
dist/
*.log

# Models and uploads
backend/model/
backend/models/
backend/uploads/
backend/*.wav
backend/*.zip
backend/*.txt
backend/*.srt
backend/*.vtt
backend/*.tsv

# Ignore all JSON except package files
backend/*.json
!backend/package.json
!backend/package-lock.json

# Environment variables
.env

